name: Terraform Plan

on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  tf_version: '1.6.4'
  tg_version: '0.53.5'
  working_dir: './terraform/env'

jobs:
  plan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Plan
        uses: gruntwork-io/terragrunt-action@v2
        continue-on-error: true
        id: plan
        with:
            tf_version: ${{ env.tf_version }}
            tg_version: ${{ env.tg_version }}
            tg_dir: ${{ env.working_dir }}
            tg_command: 'run-all plan -out plan'
            tg_comment: 1
